@import '_vars.scss';

.app {
  max-width: 500px;
  margin: 0 auto;

  .content {
    margin: $standard-spacing;
  }

  h2 {
    text-transform: capitalize;
    letter-spacing: 0.1em;
    letter-spacing: 0.2em;
    font-size: 150%;
    padding: 5px;
    color: white;
    background: black;
    border-radius: $border-radius;
  }
}
