$standard-spacing: 10px;
$small-spacing: 5px;

$max-width: 500px;

$border-radius: 5px;

$border: 1px solid #666;

$text-color: black;

$button-color: black;
$button-text-color: white;

$primary-color: #d8811d;
$secondary-color: #dddddd;
$modal-color: #4779d6;

$header-footer-bg: #ffffffdd;