$standard-spacing: 10px;
$small-spacing: 5px;

// $colors : #BD1550,#E97F02,#F8CA00,#8A9B0F,#490A3D;
$colors : #FFFFFF,#CBE86B,#F2E9E1,#1C140D;

$max-width: 600px;

$border-radius: 5px;

$border: 1px solid #666;

$text-color: black;

$button-color: nth($colors,4);
$button-text-color: white;

$primary-color: nth($colors,2);
$secondary-color: nth($colors,3);
$modal-color: nth($colors,2);

$header-footer-bg: #E9EFF2;

$border-style: 1px solid #ddd;