$standard-spacing: 10px;
$small-spacing: 5px;

$max-width: 500px;

$border-radius: 5px;

$border: 1px solid #666;

$text-color: black;

$button-color: black;
$button-text-color: white;

$primary-color: #000000;
$secondary-color: #00e7ff;