@import '_vars.scss';

.app {
  max-width: $max-width;
  margin: 0 auto;
  color: $text-color;
  letter-spacing: 0.05em;
  font-family: monospace;

  .content {
    margin: 60px $standard-spacing 60px $standard-spacing;
  }

  .footer {
    position: fixed;
    bottom:0;
    left:0;
    padding: $small-spacing 0;
    width:100%;
    background-color: $header-footer-bg;
  }

  h2 {
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-size: 150%;
    padding: 5px;
    border-radius: $border-radius;
    text-align: center;
  }

  .button-group {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  
    button {
      display: inline-block;
      margin: 10px 5px;
      width: auto;
    }
  }

  button, .button {
    margin: $standard-spacing auto;
    display: block;
    background-color: $button-color;
    color: $button-text-color;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 90%;
    min-width: 100px;
    font-family: monospace;
  
    &:disabled {
      opacity: 0.2;
    }
  
    &:focus {
      outline:0;
    }

    > a {
      color: $button-text-color;
      display: block;
    }
  }

  a {
    text-decoration: none;
    color: $text-color;
    font-style: italic;

    &:visited {
      color: inherit;
    }
  }

  .input-element {
    padding: 5px;
    background: #00000011;
    border-radius: $border-radius;
    margin-top:5px;
    border: $border-style;

    input, textarea, select {
      width : 100%;
      padding: 0;
      margin: 0;
      border: 0;
      outline: none;
      background: none;
      resize: none;
      letter-spacing: 0.05em;
      font-family: monospace;
    }
  }
}
