@import '_vars.scss';

.input-wrapper {
  padding: $standard-spacing 0;

  label {
    font-weight: bold;
  }

  .input-element {

    &:focus-within {
      border: $border-style;
      background: none;
    }

    &.changed {
      background-color: #ffff0055;
    }

    &.invalid {
      background-color: #ff000055;
    }

    input:read-only {
      opacity: 0.5;
    }
  }

  .error-field {
    height: 1em;
    font-size: 80%;
    padding: 5px;
    border-radius: $border-radius;
  }
}