@import '_vars.scss';

.entry-view {

  .empty-entry {
    text-align: center;
    opacity: 1;
    animation: fade .5s linear;
  }

  .link-list {

    ul {
      padding: 0 0 0 20px;
    }

    li {
      padding: 5px;
      margin: 5px 0;
      background-color: $secondary-color;
      border-radius: $border-radius;

      a {
        display:block;
      }
    }
  }
}

@keyframes fade {
  0% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 1 }
}