@import '_vars.scss';

.login-view {

  .flex-container {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top:0;
    left:0;

    &>div {
      padding: $small-spacing;
    }
  }

  .input-wrapper {
    padding: $standard-spacing 0;
  }
}