@import '_vars.scss';

.model-view {


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: $small-spacing;
      border-radius: $border-radius;
      background-color: $secondary-color;
      margin: $small-spacing 0;

      a {
        display : block;
      }
    }
  }

  .empty-list {
    text-align: center;
    opacity: 1;
    animation: fade .5s linear;
  }

  @keyframes fade {
    0% { opacity: 0 }
    75% { opacity: 0 }
    100% { opacity: 1 }
  }

}